
.card_img{
	overflow: hidden;
    margin: 25px;
}

.title{
	text-align:center;
	font-size:2.5vh;
	font-family:Verdana;
}

.body{
	background-color:#FAEBD7;
	text-align:center;
}

.img{
    width: 100%;
    max-width:500px;
    text-align:center;
}

.row{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
